.section {
  margin: 20px 0;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h2 {
  font-size: 20px;
  font-weight: bold;
}

.collapseBtn {
  background: none;
  border: none;
  color: #34c94b;
  font-weight: bold;
  cursor: pointer;
}

.grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
